<div class="header_nav">
  <div class="header_log"><%= link_to  new_user_session_path do %>
    <div class="header_log_button">ログイン</div><!-- 新規登録画面に移行する -->
  <% end %></div>
  <div class="header_log"><%= link_to  new_user_registration_path do %>
     <div class="header_log_button">登録する</div><!-- 新規登録画面に移行する -->
  <% end %></div>
</div>
