<li class="dropdown__list"><%= link_to "ログイン", new_user_session_path %></li>
<li class="dropdown__list"><%= link_to "登録する", new_user_registration_path %></li>
<li class="dropdown__list"><%= link_to 'ゲストログイン(閲覧用)', users_guest_sign_in_path, method: :post %></li>
