<% if user_signed_in? %>
  <ul class="site_top_list">
    <li>
      <%= link_to '新規議題作成', new_board_path %>
    </li>
    <li>
      <%= link_to '作成した議題を確認', board_path(1)%>
    </li>
  </ul>
<% else %>
  <ul class="site_top_list">
    <li>新規議題作成</li>
    <li>作成した議題を確認</li>
  </ul>
<% end %>
