<div class="page_container">
  <div class="main_visual">
    <%= insert_login_logout_function %>
    <h1 class="site_logo">将棋研究会<h1>
    <%= render 'shared/site_top_list_function' %>
  </div>
  <div class="main_board">
    <h2 class="main_board_title">議題一覧</h2>
    <% @boards.each do |board| %>
      <li class="board_list"><%= link_to "#{board.title}", new_board_response_path(board.id) %></li>
    <% end %>
  </div>
</div>
