// Place all the styles related to the boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
a{
  text-decoration: none;
}
td{
  text-align: center;
}
th{
  border-spacing: 10px;
}
select{
  height: 25px;
}
nav {
  width: 100%;
  height: 50px;
  background-color: white;
  position: relative;
  top: 10px;
  z-index: 1;
}
.nav_ul{
  display: flex;
  position: relative;
  top:8px;
  left: 150px;
}
.nav_list{
  list-style: none;
}
#nav_a{
  display: block;
  text-decoration: none;
  margin-right: 150px;
  color: #009900;
}
.nav_search_field{
  height: 25px;
  width: 220px;
}
.nav_search_submit{
  height: 25px;
  position: relative;
  left: -8px;
  top: 0.8px;
  background-color: #006633;
  color: white;
  margin-right: 100px;
}
.nav_icon_image{
  height: 65px;
  position: relative;
  top: -23px;
}
.nav_list_dropdown:hover .dropdown__lists {
  display: block;
}
.dropdown__lists {
  display: none;
  width: 170px;
  position: relative;
  top: -25px;
  left: -30px;
  background-color: white;
  border-radius: 10px;
  z-index: 1;
}
.dropdown__list {
  height: 40px;
  transition: all .3s;
  position: relative;
  top: 9px;
  left: -30px;
  list-style: none;
  z-index: 1;
}
.top_link{
  position: relative;
  top: 30px;
}
.td_title{
  text-align: left;
}
.header_log_button{
  font-family: 'Noto Serif JP', serif !important;
  font-size: 18px;
  font-weight: 700;
  color: forestgreen;
  position: relative;
  left: 1125px;
  top: 17px;
}
.header_log_button:active{
  color: seagreen;
}
.main_visual{
  background-image:image-url("adpDSC_6819.jpg");
  background-size: cover;
  height: 500px;
}
.main_introduction{
  position: relative;
  top: 30px;
  text-align: center;
  font-family: 'Noto Serif JP', serif !important;
  color: #000066;
  font-size: 18px;
}
.site_logo {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  padding: 2rem .5rem;
  border: #0c0c0c 1px solid;
  box-shadow:#0c0c0c 3px 5px 0;
  margin:5% auto;
  font-family: 'Noto Serif JP', serif !important;
  background-color: aliceblue;
  position: relative;
  left: 550px;
}
.site_top_list{
  font-family: 'Noto Serif JP', serif !important;
  background-color: aliceblue;
  writing-mode: vertical-rl;
  position: relative;
  top: -290px;
}
.main_board{
  position: relative;
  top: -950px;
  margin-left: 100px;
}
.main_board_title{
  font-family: 'Noto Serif JP', serif !important;
  font-size: 35px;
  position: relative;
  top: 240px;
}
.board_list{
  font-size: 22px;
  position: relative;
  top: 250px;
}
.page_container{
  margin-bottom: 100px;
  position: relative;
  top: -50px;
}
.new_board_table{
  text-align: center;
  position: relative;
  top: 50px;
}
.new-img{
  width: 200px;
  object-fit: cover;
  position: relative;
  left: 330px;
  top: -120px;
}
.board_form_image_name{
  position: relative;
  left: -162px;
}
.board_form_image_name_info{
  position: relative;
  top: 605px;
  left: 600px;
  color: maroon;
}
.new_board_createbotton{
  position: relative;
  left: 220px;
  top: 160px;
  background-color: #007700;
  height: 40px;
  width: 150px;
  font-family: 'Noto Serif JP', serif !important;
  font-size: 20px;
  color: white;
  margin-bottom: 100px;
}
.board_thead{
  font-family: 'Noto Serif JP', serif !important;
  color: seagreen;
  font-size: 35px;
  position: relative;
  top: -35px;
  left: 220px;
}
.board_form_title{
  height: 50px;
  width: 900px;
}
.board_form_body{
  height: 400px;
  width: 900px;
}
.board_title{
  background-color: #d8e698;
  font-family: 'Noto Serif JP', serif !important;
  padding-left: 20px;
}
.outer_board_body{
  width: 900px;
}
.board_outer{
  margin-left: 20px;
}
#preview_box{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 80px;
  left: 220px;
}
.preview_image_number{
  position: relative;
  left: 40px;
  white-space: nowrap;
}
.board_image_name_box{
  display: flex;
  flex-wrap: wrap;
}
.board_image_name{
  margin-top: 30px;
  height: 180px;
  width: 24%;
}
.board_image_number{
  position: relative;
  top: 210px;
  left: -110px;
  white-space: nowrap;
}
.new_board_response_page_container{
  margin-bottom: 100px;
  width: 1400px;
  margin-right:auto;
  margin-left:auto;
}
.responses_board{
  margin-top: 200px;
}
.responses_board_count{
  margin-top: 15px;
}
.response_box{
  margin-top: 100px;
}
.show_page_container{
  margin: 20px;
}
.sort_list{
  position: relative;
  top: 230px;
}
.main_board_container{
}
.main_board_image{
  background-image:image-url("24239371_l.jpg");
  position: relative;
  top: 100px;
  object-fit: cover;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  background-size: cover;
  height: 800px;
}
